In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings


warnings.filterwarnings('ignore')
%matplotlib inline

C:\Anaconda\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.4)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
#!C:\Anaconda\python.exe -m pip install --upgrade pip

In [3]:
pd.__version__

'1.3.2'

In [4]:
#!pip install pandas==1.3.2
#!pip install vaex

In [5]:
#meta = vaex.to

In [6]:
meta = pd.read_csv('movies_metadata.csv', nrows=5000)
keywords = pd.read_csv('keywords.csv', nrows=5000)
credits = pd.read_csv('credits.csv', nrows=5000)

In [7]:
meta.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92

In [8]:
meta.shape

(5000, 24)

In [9]:
meta.isnull().sum()

adult                       0
belongs_to_collection    4175
budget                      0
genres                      0
homepage                 4689
id                          0
imdb_id                     0
original_language           0
original_title              0
overview                   21
popularity                  0
poster_path                21
production_companies        0
production_countries        0
release_date                4
revenue                     0
runtime                     6
spoken_languages            0
status                      6
tagline                  1251
title                       0
video                       0
vote_average                0
vote_count                  0
dtype: int64

We have date entries in our id column.

In [10]:
meta[meta['id'] == '1997-08-20']

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

Let's check all rows having date entries in id column

In [11]:
# meta[meta['id'].str.contains('-') == True].index

In [12]:
#meta.drop([19730, 29503], axis=0, inplace=True)

In [13]:
#meta['id'] = meta['id'].astype('int64')
meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  5000 non-null   bool
 1   belongs_to_collection  825 non-null    object
 2   budget                 5000 non-null   int64
 3   genres                 5000 non-null   object
 4   homepage               311 non-null    object
 5   id                     5000 non-null   int64
 6   imdb_id                5000 non-null   object
 7   original_language      5000 non-null   object
 8   original_title         5000 non-null   object
 9   overview               4979 non-null   object
 10  popularity             5000 non-null   float64
 11  poster_path            4979 non-null   object
 12  production_companies   5000 non-null   object
 13  production_countries   5000 non-null   object
 14  release_date           4996 non-null   object
 15  revenue                5000 non-null   int64
 16  runtime                4994 non-null   float64
 17  spoken_languages       5000 non-null   object
 18  status                 4994 non-null   object
 19  tagline                3749 non-null   object
 20  title                  5000 non-null   object
 21  video                  5000 non-null   bool
 22  vote_average           5000 non-null   float64
 23  vote_count             5000 non-null   int64
dtypes: bool(2), float64(3), int64(4), object(15)
memory usage: 869.3+ KB

In [14]:
meta['poster_path']

0       /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1       /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2       /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3       /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4       /e64sOI48hQXyru7naBFyssKFxVd.jpg
                      ...
4995    /k7iUnaelPU5kwEEVZV7xW7fvFIS.jpg
4996    /gs3fFBoiEaExy5x3m5yAQpmVhXs.jpg
4997    /jSNMRMPkXUqcqWm0xUPUviRfWfF.jpg
4998     /iDkgvzFjIvs7n0C4gDgAh7hnSY.jpg
4999    /4qNxipsoqADZu5ZACK6uJv4qkWV.jpg
Name: poster_path, Length: 5000, dtype: object

In [15]:
keywords.head(3)

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...

In [16]:
keywords['keywords'][0]

"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"

In [17]:
keywords.shape

(5000, 2)

In [18]:
keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        5000 non-null   int64
 1   keywords  5000 non-null   object
dtypes: int64(1), object(1)
memory usage: 78.2+ KB

In [19]:
credits.head(3)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602

In [20]:
credits.shape

(5000, 3)

In [21]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    5000 non-null   object
 1   crew    5000 non-null   object
 2   id      5000 non-null   int64
dtypes: int64(1), object(2)
memory usage: 117.3+ KB

In [22]:
df = pd.merge(meta, keywords, on='id')
df.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."

In [23]:
df = pd.merge(df, credits, on='id')
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

In [24]:
df.shape

(5006, 27)

In [25]:
df.isna().sum()

adult                       0
belongs_to_collection    4181
budget                      0
genres                      0
homepage                 4695
id                          0
imdb_id                     0
original_language           0
original_title              0
overview                   21
popularity                  0
poster_path                21
production_companies        0
production_countries        0
release_date                4
revenue                     0
runtime                     6
spoken_languages            0
status                      6
tagline                  1251
title                       0
video                       0
vote_average                0
vote_count                  0
keywords                    0
cast                        0
crew                        0
dtype: int64

In [26]:
df['original_language'].value_counts()

en    4476
fr     169
de      74
it      66
es      39
ja      38
zh      26
cn      21
sv      11
fa      10
ru      10
pt       9
nl       8
da       7
no       4
sr       4
cs       4
xx       3
pl       2
vi       2
bn       2
hu       2
th       2
he       2
ko       2
fi       1
ca       1
sk       1
bo       1
mk       1
ro       1
sh       1
el       1
nb       1
cy       1
wo       1
ar       1
bs       1
Name: original_language, dtype: int64

In [27]:
df.iloc[23:30]['spoken_languages']

23             [{'iso_639_1': 'en', 'name': 'English'}]
24             [{'iso_639_1': 'en', 'name': 'English'}]
25             [{'iso_639_1': 'en', 'name': 'English'}]
26             [{'iso_639_1': 'en', 'name': 'English'}]
27             [{'iso_639_1': 'en', 'name': 'English'}]
28    [{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...
29                 [{'iso_639_1': 'zh', 'name': '普通话'}]
Name: spoken_languages, dtype: object

In [28]:
# Genres, original language, original title, overview, production_companies, keywords, cast, crew

In [29]:
df = df[['genres','id','poster_path','original_title','overview','production_companies','keywords','cast','crew']]
df.head()

,genres,id,poster_path,original_title,overview,production_companies,keywords,cast,crew
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,"[{'id': 35, 'name': 'Comedy'}]",11862,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [30]:
df.shape

(5006, 9)

In [31]:
df.isnull().sum()/len(df) *100

genres                  0.000000
id                      0.000000
poster_path             0.419497
original_title          0.000000
overview                0.419497
production_companies    0.000000
keywords                0.000000
cast                    0.000000
crew                    0.000000
dtype: float64

Since, 0.4% rows don't have an overview and poster_path which is an important parameter, so we can drop them

In [32]:
df.dropna(inplace=True)

In [33]:
df.duplicated().sum()

7

In [34]:
df.drop_duplicates(inplace=True)

In [35]:
df.duplicated().sum()

0

In [36]:
df.shape

(4960, 9)

In [37]:
# English Titles only
df.original_title.replace({r'[^\x00-\x7F]+':''}, regex=True)

0                         Toy Story
1                           Jumanji
2                  Grumpier Old Men
3                 Waiting to Exhale
4       Father of the Bride Part II
                   ...
5001              The Deadly Mantis
5002                      Dragonfly
5003            Queen of the Damned
5004                   Big Bad Love
5005                   Green Dragon
Name: original_title, Length: 4960, dtype: object

In [38]:
# Fetching rows that don't contain english words in original_title column
df[~df['original_title'].map(lambda x: x.isascii())]

,genres,id,poster_path,original_title,overview,production_companies,keywords,cast,crew
28,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",902,/eVo6ewq4akfyJYy3GXkMsLNzEJc.jpg,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...","[{'id': 402, 'name': 'clone'}, {'id': 1566, 'n...","[{'cast_id': 24, 'character': 'One', 'credit_i...","[{'credit_id': '52fe428ac3a36847f8026c6f', 'de..."
29,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",37557,/qcoOCoN7viOhboGwhYXyApdDuiq.jpg,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,"[{'name': 'Ministère des Affaires Étrangères',...","[{'id': 964, 'name': 'servant'}, {'id': 2311, ...","[{'cast_id': 2, 'character': 'Xiao Jingbao', '...","[{'credit_id': '52fe46559251416c910511c9', 'de..."
72,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",48750,/ePJCk8puXx28CtvpSpmezpwfVt8.jpg,Les misérables,"In France during World War II, a poor and illi...","[{'name': 'Les Films 13', 'id': 1742}, {'name'...","[{'id': 90, 'name': 'paris'}, {'id': 745, 'nam...","[{'cast_id': 4, 'character': 'Henri Fortin / J...","[{'credit_id': '52fe4773c3a36847f81365ef', 'de..."
79,"[{'id': 10751, 'name': 'Family'}, {'id': 18, '...",46785,/96UDOJNgJXHmQMJqA79bKS9PR8i.jpg,بادکنک سفید,Several people try to take advantage of a litt...,"[{'name': 'I.R.I.B. Channel 2', 'id': 38953}, ...","[{'id': 1357, 'name': 'fish'}, {'id': 10594, '...","[{'cast_id': 1001, 'character': 'Razieh', 'cre...","[{'credit_id': '546e168cc3a36817e300003f', 'de..."
110,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",33542,/y7AxKPPCtZyrGQKvxzn5zTQ8wFm.jpg,紅番區,Keong comes from Hong Kong to visit New York f...,"[{'name': 'New Line Cinema', 'id': 12}, {'name...","[{'id': 242, 'name': 'new york'}, {'id': 779, ...","[{'cast_id': 1, 'character': 'Keung', 'credit_...","[{'credit_id': '52fe45219251416c9102886f', 'de..."
...,...,...,...,...,...,...,...,...,...
4904,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",24166,/uR4OhZa8tef9jPSdBpcOSnufPa0.jpg,你那邊幾點,When a young street vendor with a grim home li...,"[{'name': 'Arena Films', 'id': 1243}, {'name':...",[],"[{'cast_id': 2, 'character': 'Hsiao-kang', 'cr...","[{'credit_id': '52fe4487c3a368484e028099', 'de..."
4932,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",11710,/jkbnlcex3xfndksKuwVeI0EmuhW.jpg,Jeder für sich und Gott gegen alle,"The film follows Kaspar Hauser (Bruno S.), who...","[{'name': 'Werner Herzog Filmproduktion', 'id'...","[{'id': 2434, 'name': 'liberation'}, {'id': 44...","[{'cast_id': 7, 'character': 'Kaspar Hauser', ...","[{'credit_id': '52fe447e9251416c75036bd1', 'de..."
4944,"[{'id': 18, 'name': 'Drama'}]",12659,/tWURu1bBoBHn92hZGgG0y6JEVHU.jpg,十七歲的單車,A seventeen-year-old country boy working in Be...,"[{'name': 'Arc Light Films', 'id': 7475}, {'na...","[{'id': 642, 'name': 'robbery'}, {'id': 1850, ...","[{'cast_id': 1, 'character': 'Guo Liangui', 'c...","[{'credit_id': '52fe45109251416c7504a893', 'de..."
4946,"[{'id': 18, 'name': 'Drama'}]",35650,/ouM7H16aKd3IzvjHNcUmzezI5qq.jpg,Maelström,Bibiane is the daughter of a well-known fashio...,"[{'name': 'Téléfilm Canada', 'id': 806}, {'nam...","[{'id': 10183, 'name': 'independent film'}]","[{'cast_id': 2, 'character': 'Bibiane Champagn...","[{'credit_id': '52fe45ad9251416c9103a94d', 'de..."
4962,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",4267,/5klW5Je4RoNBpsZY6dwqdZthrzv.jpg,Préparez vos mouchoirs,"Solange is depressed: she's stopped smiling, s...","[{'name': 'CAPAC', 'id': 1122}, {'name': 'Belg...","[{'id': 1157, 'name': 'wife husband relationsh...","[{'cast_id': 5, 'character': 'Raoul', 'credit_...","[{'credit_id': '52fe43b7c3a36847f806a109', 'de..."

In [39]:
df = df[df['original_title'].map(lambda x: x.isascii())]
df.head()

,genres,id,poster_path,original_title,overview,production_companies,keywords,cast,crew
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,"[{'id': 35, 'name': 'Comedy'}]",11862,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [40]:
df.shape

(4763, 9)

In [41]:
df

,genres,id,poster_path,original_title,overview,production_companies,keywords,cast,crew
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,"[{'id': 35, 'name': 'Comedy'}]",11862,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...
5001,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",43715,/k7iUnaelPU5kwEEVZV7xW7fvFIS.jpg,The Deadly Mantis,The calving of an Arctic iceberg releases a gi...,[{'name': 'Universal International Pictures (U...,"[{'id': 1299, 'name': 'monster'}, {'id': 1719,...","[{'cast_id': 3, 'character': 'Col. Joe Parkman...","[{'credit_id': '52fe465bc3a36847f80fa859', 'de..."
5002,"[{'id': 18, 'name': 'Drama'}]",10052,/gs3fFBoiEaExy5x3m5yAQpmVhXs.jpg,Dragonfly,A grieving doctor is being contacted by his la...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'id': 3725, 'name': 'pregnancy and birth'}, ...","[{'cast_id': 23, 'character': 'Joe Darrow', 'c...","[{'credit_id': '52fe43159251416c75002b83', 'de..."
5003,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",11979,/jSNMRMPkXUqcqWm0xUPUviRfWfF.jpg,Queen of the Damned,Lestat de Lioncourt is awakened from his slumb...,"[{'name': 'Village Roadshow Pictures', 'id': 7...","[{'id': 2011, 'name': 'queen'}, {'id': 2570, '...","[{'cast_id': 13, 'character': 'Lestat de Lionc...","[{'credit_id': '52fe44af9251416c7503d547', 'de..."
5004,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",75151,/iDkgvzFjIvs7n0C4gDgAh7hnSY.jpg,Big Bad Love,Vietnam veteran Leon Barlow is struggling as a...,[],[],"[{'cast_id': 5, 'character': 'Barlow', 'credit...","[{'credit_id': '53914df5c3a3686491000be7', 'de..."
5005,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",35868,/4qNxipsoqADZu5ZACK6uJv4qkWV.jpg,Green Dragon,A tale about Vietnamese refugees sent to an or...,[],"[{'id': 10183, 'name': 'independent film'}]","[{'cast_id': 1, 'character': 'Gunnery Sergeant...","[{'credit_id': '52fe45bb9251416c9103c80f', 'de..."

In [42]:
df.reset_index(inplace=True)
df.drop(['index'], axis=1, inplace=True)
df

,genres,id,poster_path,original_title,overview,production_companies,keywords,cast,crew
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,"[{'id': 35, 'name': 'Comedy'}]",11862,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...
4758,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",43715,/k7iUnaelPU5kwEEVZV7xW7fvFIS.jpg,The Deadly Mantis,The calving of an Arctic iceberg releases a gi...,[{'name': 'Universal International Pictures (U...,"[{'id': 1299, 'name': 'monster'}, {'id': 1719,...","[{'cast_id': 3, 'character': 'Col. Joe Parkman...","[{'credit_id': '52fe465bc3a36847f80fa859', 'de..."
4759,"[{'id': 18, 'name': 'Drama'}]",10052,/gs3fFBoiEaExy5x3m5yAQpmVhXs.jpg,Dragonfly,A grieving doctor is being contacted by his la...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'id': 3725, 'name': 'pregnancy and birth'}, ...","[{'cast_id': 23, 'character': 'Joe Darrow', 'c...","[{'credit_id': '52fe43159251416c75002b83', 'de..."
4760,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",11979,/jSNMRMPkXUqcqWm0xUPUviRfWfF.jpg,Queen of the Damned,Lestat de Lioncourt is awakened from his slumb...,"[{'name': 'Village Roadshow Pictures', 'id': 7...","[{'id': 2011, 'name': 'queen'}, {'id': 2570, '...","[{'cast_id': 13, 'character': 'Lestat de Lionc...","[{'credit_id': '52fe44af9251416c7503d547', 'de..."
4761,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",75151,/iDkgvzFjIvs7n0C4gDgAh7hnSY.jpg,Big Bad Love,Vietnam veteran Leon Barlow is struggling as a...,[],[],"[{'cast_id': 5, 'character': 'Barlow', 'credit...","[{'credit_id': '53914df5c3a3686491000be7', 'de..."
4762,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",35868,/4qNxipsoqADZu5ZACK6uJv4qkWV.jpg,Green Dragon,A tale about Vietnamese refugees sent to an or...,[],"[{'id': 10183, 'name': 'independent film'}]","[{'cast_id': 1, 'character': 'Gunnery Sergeant...","[{'credit_id': '52fe45bb9251416c9103c80f', 'de..."

In [43]:
df['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [44]:
# We want a list as ['Animation','Comedy','Family']. 
# But as our dictionary above is a string not a list we cannot loop through it.
# We have to convert this string of list of dictionary into a list of dictionary which can be done using ast.literal_eval function

In [45]:
import ast
ast.literal_eval("[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]")

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [46]:
import ast

def get_list(obj):
    my_list = []
    for i in ast.literal_eval(obj):       #literal_eval function converts the obj in string format to a list format
        my_list.append(i['name'])
    return my_list

In [47]:
df['genres'] = df['genres'].apply(get_list)
df.head(2)

,genres,id,poster_path,original_title,overview,production_companies,keywords,cast,crew
0,"[Animation, Comedy, Family]",862,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[Adventure, Fantasy, Family]",8844,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji,When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

In [48]:
df['keywords'][0]

"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"

In [49]:
df['production_companies'] = df['production_companies'].apply(get_list)
df['keywords'] = df['keywords'].apply(get_list)
df.head(3)

,genres,id,poster_path,original_title,overview,production_companies,keywords,cast,crew
0,"[Animation, Comedy, Family]",862,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story,"Led by Woody, Andy's toys live happily in his ...",[Pixar Animation Studios],"[jealousy, toy, boy, friendship, friends, riva...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[Adventure, Fantasy, Family]",8844,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji,When siblings Judy and Peter discover an encha...,"[TriStar Pictures, Teitler Film, Interscope Co...","[board game, disappearance, based on children'...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,"[Romance, Comedy]",15602,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Warner Bros., Lancaster Gate]","[fishing, best friend, duringcreditsstinger, o...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."

In [50]:
df['cast'][0]

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"

We will only fetch the first 3 names in the cast column as they are probably important actors.

In [51]:
def get_actors(obj):
    act = []
    count = 0
    for i in ast.literal_eval(obj):
        if count < 3:
            act.append(i['name'])
            count += 1
        else:
            break
    return act

In [52]:
df['cast'] = df['cast'].apply(get_actors)
df.head(2)

,genres,id,poster_path,original_title,overview,production_companies,keywords,cast,crew
0,"[Animation, Comedy, Family]",862,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story,"Led by Woody, Andy's toys live happily in his ...",[Pixar Animation Studios],"[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,"[Adventure, Fantasy, Family]",8844,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji,When siblings Judy and Peter discover an encha...,"[TriStar Pictures, Teitler Film, Interscope Co...","[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

In [53]:
df['crew'][0]

'[{\'credit_id\': \'52fe4284c3a36847f8024f49\', \'department\': \'Directing\', \'gender\': 2, \'id\': 7879, \'job\': \'Director\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f4f\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12891, \'job\': \'Screenplay\', \'name\': \'Joss Whedon\', \'profile_path\': \'/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f55\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Screenplay\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f5b\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12892, \'job\': \'Screenplay\', \'name\': \'Joel Cohen\', \'profile_path\': \'/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f61\', \'department\': \'Writing\', \'gender\': 0, \'id\': 12893, \'job\': \'Screenplay\', \'name\': \'Alec Sokolow\', \'profile_path\': \'/v79vlRYi94BZUQnkkyznbGUZLjT.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f67\', \'department\': \'Production\', \'gender\': 1, \'id\': 12894, \'job\': \'Producer\', \'name\': \'Bonnie Arnold\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f6d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12895, \'job\': \'Executive Producer\', \'name\': \'Ed Catmull\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f73\', \'department\': \'Production\', \'gender\': 2, \'id\': 12896, \'job\': \'Producer\', \'name\': \'Ralph Guggenheim\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f79\', \'department\': \'Production\', \'gender\': 2, \'id\': 12897, \'job\': \'Executive Producer\', \'name\': \'Steve Jobs\', \'profile_path\': \'/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f8b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 8, \'job\': \'Editor\', \'name\': \'Lee Unkrich\', \'profile_path\': \'/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f91\', \'department\': \'Art\', \'gender\': 2, \'id\': 7883, \'job\': \'Art Direction\', \'name\': \'Ralph Eggleston\', \'profile_path\': \'/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg\'}, {\'credit_id\': \'598331bf925141421201044b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 1168870, \'job\': \'Editor\', \'name\': \'Robert Gordon\', \'profile_path\': None}, {\'credit_id\': \'5892168cc3a36809660095f9\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1552883, \'job\': \'Foley Editor\', \'name\': \'Mary Helen Leasman\', \'profile_path\': None}, {\'credit_id\': \'5531824d9251415289000945\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1453514, \'job\': \'Animation\', \'name\': \'Kim Blanchette\', \'profile_path\': None}, {\'credit_id\': \'589215969251412dcb009bf6\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414182, \'job\': \'ADR Editor\', \'name\': \'Marilyn McCoppen\', \'profile_path\': None}, {\'credit_id\': \'589217099251412dc500a018\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Orchestrator\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5693e6b29251417b0e0000e3\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1429549, \'job\': \'Color Timer\', \'name\': \'Dale E. Grahn\', \'profile_path\': None}, {\'credit_id\': \'572e2522c3a36869e6001a9c\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7949, \'job\': \'CG Painter\', \'name\': \'Robin Cooper\', \'profile_path\': None}, {\'credit_id\': \'574f12309251415ca1000012\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7879, \'job\': \'Original Story\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'574f1240c3a3682e7300001c\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12890, \'job\': \'Original Story\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'574f12519251415c92000015\', \'department\': \'Writing\', \'gender\': 0, \'id\': 7911, \'job\': \'Original Story\', \'name\': \'Joe Ranft\', \'profile_path\': \'/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg\'}, {\'credit_id\': \'574f12cec3a3682e82000022\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1629419, \'job\': \'Post Production Supervisor\', \'name\': \'Patsy Bouge\', \'profile_path\': None}, {\'credit_id\': \'574f14f19251415ca1000082\', \'department\': \'Art\', \'gender\': 0, \'id\': 7961, \'job\': \'Sculptor\', \'name\': \'Norm DeCarlo\', \'profile_path\': None}, {\'credit_id\': \'5751ae4bc3a3683772002b7f\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 12905, \'job\': \'Animation Director\', \'name\': \'Ash Brannon\', \'profile_path\': \'/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg\'}, {\'credit_id\': \'5891edbe9251412dc5007cd6\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Music\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'589213d39251412dc8009832\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748707, \'job\': \'Layout\', \'name\': \'Roman Figun\', \'profile_path\': None}, {\'credit_id\': \'5892173dc3a3680968009351\', \'department\': \'Sound\', \'gender\': 2, \'id\': 4949, \'job\': \'Orchestrator\', \'name\': \'Don Davis\', \'profile_path\': None}, {\'credit_id\': \'589217cec3a3686b0a0052ba\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1372885, \'job\': \'Music Editor\', \'name\': \'James Flamberg\', \'profile_path\': None}, {\'credit_id\': \'58921831c3a3686348004a64\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1739962, \'job\': \'Negative Cutter\', \'name\': \'Mary Beth Smith\', \'profile_path\': None}, {\'credit_id\': \'58921838c3a36809700096c0\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748513, \'job\': \'Negative Cutter\', \'name\': \'Rick Mackay\', \'profile_path\': None}, {\'credit_id\': \'589218429251412dd1009d1b\', \'department\': \'Art\', \'gender\': 0, \'id\': 1458006, \'job\': \'Title Designer\', \'name\': \'Susan Bradley\', \'profile_path\': None}, {\'credit_id\': \'5891ed99c3a3680966007670\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1748557, \'job\': \'Supervising Technical Director\', \'name\': \'William Reeves\', \'profile_path\': None}, {\'credit_id\': \'5891edcec3a3686b0a002eb2\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Songs\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5891edf9c3a36809700075e6\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Original Story\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58920f0b9251412dd7009104\', \'department\': \'Crew\', \'gender\': 2, \'id\': 12890, \'job\': \'Supervising Animator\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'58920f1fc3a3680977009021\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Designer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'58920f389251412dd700912d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12909, \'job\': \'Production Supervisor\', \'name\': \'Karen Robert Jackson\', \'profile_path\': None}, {\'credit_id\': \'58920fbd9251412dcb00969c\', \'department\': \'Crew\', \'gender\': 0, \'id\': 953331, \'job\': \'Executive Music Producer\', \'name\': \'Chris Montan\', \'profile_path\': None}, {\'credit_id\': \'589210069251412dd7009219\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7893, \'job\': \'Animation Director\', \'name\': \'Rich Quade\', \'profile_path\': None}, {\'credit_id\': \'589210329251412dcd00943b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8025, \'job\': \'Animation\', \'name\': \'Michael Berenstein\', \'profile_path\': None}, {\'credit_id\': \'5892103bc3a368096a009180\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 78009, \'job\': \'Animation\', \'name\': \'Colin Brady\', \'profile_path\': None}, {\'credit_id\': \'5892105dc3a3680968008db2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748682, \'job\': \'Animation\', \'name\': \'Davey Crockett Feiten\', \'profile_path\': None}, {\'credit_id\': \'589210669251412dcd009466\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454030, \'job\': \'Animation\', \'name\': \'Angie Glocka\', \'profile_path\': None}, {\'credit_id\': \'5892107c9251412dd1009613\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748683, \'job\': \'Animation\', \'name\': \'Rex Grignon\', \'profile_path\': None}, {\'credit_id\': \'5892108ac3a3680973008d3f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748684, \'job\': \'Animation\', \'name\': \'Tom K. Gurney\', \'profile_path\': None}, {\'credit_id\': \'58921093c3a3686348004477\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 8029, \'job\': \'Animation\', \'name\': \'Jimmy Hayward\', \'profile_path\': \'/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg\'}, {\'credit_id\': \'5892109b9251412dcd0094b0\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1426773, \'job\': \'Animation\', \'name\': \'Hal T. Hickel\', \'profile_path\': None}, {\'credit_id\': \'589210a29251412dc5009a29\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8035, \'job\': \'Animation\', \'name\': \'Karen Kiser\', \'profile_path\': None}, {\'credit_id\': \'589210ccc3a3680977009191\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748688, \'job\': \'Animation\', \'name\': \'Anthony B. LaMolinara\', \'profile_path\': None}, {\'credit_id\': \'589210d7c3a3686b0a004c1f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 587314, \'job\': \'Animation\', \'name\': \'Guionne Leroy\', \'profile_path\': None}, {\'credit_id\': \'589210e1c3a36809770091a7\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Animation\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'589210ee9251412dc200978a\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748689, \'job\': \'Animation\', \'name\': \'Les Major\', \'profile_path\': None}, {\'credit_id\': \'589210fa9251412dc8009595\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7892, \'job\': \'Animation\', \'name\': \'Glenn McQueen\', \'profile_path\': None}, {\'credit_id\': \'589211029251412dc8009598\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 555795, \'job\': \'Animation\', \'name\': \'Mark Oftedal\', \'profile_path\': None}, {\'credit_id\': \'5892110b9251412dc800959d\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7882, \'job\': \'Animation\', \'name\': \'Jeff Pidgeon\', \'profile_path\': \'/yLddkg5HcgbJg00cS13GVBnP0HY.jpg\'}, {\'credit_id\': \'58921113c3a36863480044e4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8017, \'job\': \'Animation\', \'name\': \'Jeff Pratt\', \'profile_path\': None}, {\'credit_id\': \'5892111c9251412dcb0097e9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1184140, \'job\': \'Animation\', \'name\': \'Steve Rabatich\', \'profile_path\': None}, {\'credit_id\': \'58921123c3a36809700090f6\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8049, \'job\': \'Animation\', \'name\': \'Roger Rose\', \'profile_path\': None}, {\'credit_id\': \'5892112b9251412dcb0097fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1509559, \'job\': \'Animation\', \'name\': \'Steve Segal\', \'profile_path\': None}, {\'credit_id\': \'589211349251412dc80095c3\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748691, \'job\': \'Animation\', \'name\': \'Doug Sheppeck\', \'profile_path\': None}, {\'credit_id\': \'5892113cc3a3680970009106\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8050, \'job\': \'Animation\', \'name\': \'Alan Sperling\', \'profile_path\': None}, {\'credit_id\': \'58921148c3a3686b0a004c99\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8010, \'job\': \'Animation\', \'name\': \'Doug Sweetland\', \'profile_path\': None}, {\'credit_id\': \'58921150c3a3680966009125\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8044, \'job\': \'Animation\', \'name\': \'David Tart\', \'profile_path\': None}, {\'credit_id\': \'589211629251412dc5009b00\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454034, \'job\': \'Animation\', \'name\': \'Ken Willard\', \'profile_path\': None}, {\'credit_id\': \'589211c1c3a3686b0a004d28\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7887, \'job\': \'Visual Effects Supervisor\', \'name\': \'Thomas Porter\', \'profile_path\': None}, {\'credit_id\': \'589211d4c3a3680968008ed9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1406878, \'job\': \'Visual Effects\', \'name\': \'Mark Thomas Henne\', \'profile_path\': None}, {\'credit_id\': \'589211f59251412dd4008e65\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748698, \'job\': \'Visual Effects\', \'name\': \'Oren Jacob\', \'profile_path\': None}, {\'credit_id\': \'58921242c3a368096a00939b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748699, \'job\': \'Visual Effects\', \'name\': \'Darwyn Peachey\', \'profile_path\': None}, {\'credit_id\': \'5892124b9251412dc5009bd2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748701, \'job\': \'Visual Effects\', \'name\': \'Mitch Prater\', \'profile_path\': None}, {\'credit_id\': \'58921264c3a3686b0a004dbf\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748703, \'job\': \'Visual Effects\', \'name\': \'Brian M. Rosen\', \'profile_path\': None}, {\'credit_id\': \'589212709251412dcd009676\', \'department\': \'Lighting\', \'gender\': 1, \'id\': 12912, \'job\': \'Lighting Supervisor\', \'name\': \'Sharon Calahan\', \'profile_path\': None}, {\'credit_id\': \'5892127fc3a3686b0a004de5\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 7899, \'job\': \'Lighting Supervisor\', \'name\': \'Galyn Susman\', \'profile_path\': None}, {\'credit_id\': \'589212cdc3a3680970009268\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'CG Painter\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892130f9251412dc8009791\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748705, \'job\': \'Sculptor\', \'name\': \'Shelley Daniels Lekven\', \'profile_path\': None}, {\'credit_id\': \'5892131c9251412dd4008f4c\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7889, \'job\': \'Character Designer\', \'name\': \'Bob Pauley\', \'profile_path\': None}, {\'credit_id\': \'589213249251412dd100987b\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Character Designer\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'5892132b9251412dc80097b1\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7, \'job\': \'Character Designer\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58921332c3a368634800467b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'Character Designer\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892135f9251412dd4008f90\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748706, \'job\': \'Character Designer\', \'name\': \'Steve Johnson\', \'profile_path\': None}, {\'credit_id\': \'58921384c3a3680973008fd4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1176752, \'job\': \'Character Designer\', \'name\': \'Dan Haskett\', \'profile_path\': None}, {\'credit_id\': \'5892138e9251412dc20099fc\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1088034, \'job\': \'Character Designer\', \'name\': \'Tom Holloway\', \'profile_path\': \'/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg\'}, {\'credit_id\': \'58921395c3a368097700942f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1447465, \'job\': \'Character Designer\', \'name\': \'Jean Gillmore\', \'profile_path\': None}, {\'credit_id\': \'589213e2c3a3680973009026\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748709, \'job\': \'Layout\', \'name\': \'Desirée Mourad\', \'profile_path\': None}, {\'credit_id\': \'589214099251412dc5009d57\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748710, \'job\': \'Set Dresser\', \'name\': "Kelly O\'Connell", \'profile_path\': None}, {\'credit_id\': \'58921411c3a3686b0a004f70\', \'department\': \'Art\', \'gender\': 0, \'id\': 1443471, \'job\': \'Set Dresser\', \'name\': \'Sonoko Konishi\', \'profile_path\': None}, {\'credit_id\': \'58921434c3a368096a00956e\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748711, \'job\': \'Set Dresser\', \'name\': \'Ann M. Rockwell\', \'profile_path\': None}, {\'credit_id\': \'5892144ac3a36809680090de\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748712, \'job\': \'Editorial Manager\', \'name\': \'Julie M. McDonald\', \'profile_path\': None}, {\'credit_id\': \'58921479c3a368096800910f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1589729, \'job\': \'Assistant Editor\', \'name\': \'Robin Lee\', \'profile_path\': None}, {\'credit_id\': \'5892148b9251412dd10099cc\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748716, \'job\': \'Assistant Editor\', \'name\': \'Tom Freeman\', \'profile_path\': None}, {\'credit_id\': \'589214959251412dcb009b1f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748717, \'job\': \'Assistant Editor\', \'name\': \'Ada Cochavi\', \'profile_path\': None}, {\'credit_id\': \'5892149ec3a3686348004798\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1336438, \'job\': \'Assistant Editor\', \'name\': \'Dana Mulligan\', \'profile_path\': None}, {\'credit_id\': \'589214adc3a368096a0095db\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748718, \'job\': \'Editorial Coordinator\', \'name\': \'Deirdre Morrison\', \'profile_path\': None}, {\'credit_id\': \'589214c7c3a368097700952b\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748719, \'job\': \'Production Coordinator\', \'name\': \'Lori Lombardo\', \'profile_path\': None}, {\'credit_id\': \'589214cec3a368096a009603\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748720, \'job\': \'Production Coordinator\', \'name\': \'Ellen Devine\', \'profile_path\': None}, {\'credit_id\': \'589214e39251412dc8009904\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1468014, \'job\': \'Unit Publicist\', \'name\': \'Lauren Beth Strogoff\', \'profile_path\': None}, {\'credit_id\': \'58921544c3a3686b0a00507d\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'5892154c9251412dd1009a56\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1425978, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Summers\', \'profile_path\': None}, {\'credit_id\': \'58921555c3a36809680091bd\', \'department\': \'Sound\', \'gender\': 2, \'id\': 8276, \'job\': \'Supervising Sound Editor\', \'name\': \'Tim Holland\', \'profile_path\': None}, {\'credit_id\': \'589215c39251412dcb009c12\', \'department\': \'Sound\', \'gender\': 0, \'id\': 7069, \'job\': \'Sound Effects Editor\', \'name\': \'Pat Jackson\', \'profile_path\': None}, {\'credit_id\': \'58921698c3a368096a009788\', \'department\': \'Crew\', \'gender\': 2, \'id\': 15894, \'job\': \'Sound Design Assistant\', \'name\': \'Tom Myers\', \'profile_path\': None}, {\'credit_id\': \'589216a89251412dc2009ca4\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414177, \'job\': \'Assistant Sound Editor\', \'name\': \'J.R. 

In [54]:
def get_director(obj):
    direct = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            direct.append(i['name'])
            break
    return direct

In [55]:
df['crew'] = df['crew'].apply(get_director)
df.head(2)

,genres,id,poster_path,original_title,overview,production_companies,keywords,cast,crew
0,"[Animation, Comedy, Family]",862,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story,"Led by Woody, Andy's toys live happily in his ...",[Pixar Animation Studios],"[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter]
1,"[Adventure, Fantasy, Family]",8844,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji,When siblings Judy and Peter discover an encha...,"[TriStar Pictures, Teitler Film, Interscope Co...","[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston]

Since, our final motive is to concatenate all the lists together to get tags, so we will also convert the overview column which is in string format to a list

In [56]:
df['overview'][0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."

In [57]:
df['overview'] = df['overview'].apply(lambda x: x.split())
df.head(3)

,genres,id,poster_path,original_title,overview,production_companies,keywords,cast,crew
0,"[Animation, Comedy, Family]",862,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...",[Pixar Animation Studios],"[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter]
1,"[Adventure, Fantasy, Family]",8844,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[TriStar Pictures, Teitler Film, Interscope Co...","[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston]
2,"[Romance, Comedy]",15602,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[Warner Bros., Lancaster Gate]","[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch]

Now we will concatenate all the lists to get a big paragraph which will act as our tag. But, before that we have to remove the space between the names as the first name and surname of many actors and directors might be same and our algorithm will mistake one for the other and give us wrong recommendations. So we can strip the white spaces and also make them lower case font to make them homogeneous.

In [58]:
space_cols = ['genres','production_companies','keywords','cast','crew']
for col in space_cols:
    df[col] = df[col].apply(lambda x: [i.replace(" ","") for i in x])

In [59]:
df.head(3)

,genres,id,poster_path,original_title,overview,production_companies,keywords,cast,crew
0,"[Animation, Comedy, Family]",862,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...",[PixarAnimationStudios],"[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles]",[JohnLasseter]
1,"[Adventure, Fantasy, Family]",8844,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[TriStarPictures, TeitlerFilm, InterscopeCommu...","[boardgame, disappearance, basedonchildren'sbo...","[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston]
2,"[Romance, Comedy]",15602,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[WarnerBros., LancasterGate]","[fishing, bestfriend, duringcreditsstinger, ol...","[WalterMatthau, JackLemmon, Ann-Margret]",[HowardDeutch]

In [60]:
df['tags'] = df['genres'] + df['overview'] + df['production_companies'] + df['keywords'] + df['cast'] + df['crew']
df.head(3)

,genres,id,poster_path,original_title,overview,production_companies,keywords,cast,crew,tags
0,"[Animation, Comedy, Family]",862,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...",[PixarAnimationStudios],"[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles]",[JohnLasseter],"[Animation, Comedy, Family, Led, by, Woody,, A..."
1,"[Adventure, Fantasy, Family]",8844,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[TriStarPictures, TeitlerFilm, InterscopeCommu...","[boardgame, disappearance, basedonchildren'sbo...","[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston],"[Adventure, Fantasy, Family, When, siblings, J..."
2,"[Romance, Comedy]",15602,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[WarnerBros., LancasterGate]","[fishing, bestfriend, duringcreditsstinger, ol...","[WalterMatthau, JackLemmon, Ann-Margret]",[HowardDeutch],"[Romance, Comedy, A, family, wedding, reignite..."

In [61]:
final_df = df[['id','original_title','poster_path','tags']]
final_df.rename(columns={"original_title":"title"}, inplace=True)
final_df.head(3)

,id,title,poster_path,tags
0,862,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[Animation, Comedy, Family, Led, by, Woody,, A..."
1,8844,Jumanji,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[Adventure, Fantasy, Family, When, siblings, J..."
2,15602,Grumpier Old Men,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[Romance, Comedy, A, family, wedding, reignite..."

Now we have to convert the list entries in tags column into string entries.

In [62]:
final_df['tags'] = final_df['tags'].apply(lambda x: " ".join(x))
final_df.head(2)

,id,title,poster_path,tags
0,862,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"Animation Comedy Family Led by Woody, Andy's t..."
1,8844,Jumanji,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Adventure Fantasy Family When siblings Judy an...

In [63]:
final_df['tags'][0]

"Animation Comedy Family Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences. PixarAnimationStudios jealousy toy boy friendship friends rivalry boynextdoor newtoy toycomestolife TomHanks TimAllen DonRickles JohnLasseter"

In [64]:
final_df['tags'] = final_df['tags'].apply(lambda x:x.lower())
final_df.head(3)

,id,title,poster_path,tags
0,862,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"animation comedy family led by woody, andy's t..."
1,8844,Jumanji,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,adventure fantasy family when siblings judy an...
2,15602,Grumpier Old Men,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,romance comedy a family wedding reignites the ...

In [65]:
final_df.shape

(4763, 4)

We have to perform text vectorization, where similarity will be based on tags. We will convert the whole tags text in vector format and plot on a graph, all the different movies can be represented by vectors and the closeness is based on cosine distance.

We will concatenate all the tags to get a huge string and we will get top 10000 most common words. Then this will become our columns and all the individual movie tags will be our rows and the number of occurences of the given word in a particular tag will be entered in a row wise manner, where each row represents a vector of dimension **5,000*1** belonging to first movie. Likewise, we have in total 4763 movies so we get a table of **4763*5,000** dimensions. Plotting all these 4763 vectors in 5000 dimensional space and then fetching all the closest vectors to a given vector will give us the most closely associated movie to given movie.

We will not consider stop words during vectorization, which don't contribute in the sentence meaning. stop_words paramter will take care of this in the CountVectorizer class.

We see that many same words are repeated in different forms for example, adapt, adaptation and adapted are all same words. So, we need to get rid of this issue, we use ***stemming***.

In [66]:
#!pip install nltk

In [67]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [68]:
# Create a function stem which performs Stemming and gives us the root words
def stem_words(text):
    lst = []
    for i in text.split():
        lst.append(ps.stem(i))
    return " ".join(lst)

In [69]:
final_df['tags'] = final_df['tags'].apply(stem_words)
final_df['tags']

0       anim comedi famili led by woody, andy' toy liv...
1       adventur fantasi famili when sibl judi and pet...
2       romanc comedi a famili wed reignit the ancient...
3       comedi drama romanc cheat on, mistreat and ste...
4       comedi just when georg bank ha recov from hi d...
                              ...
4758    thriller horror romanc sciencefict the calv of...
4759    drama a griev doctor is be contact by hi late ...
4760    drama fantasi horror lestat de lioncourt is aw...
4761    drama comedi vietnam veteran leon barlow is st...
4762    action adventur drama a tale about vietnames r...
Name: tags, Length: 4763, dtype: object

### Vectorization

In [70]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(final_df['tags']).toarray()

In [71]:
cv.get_feature_names()

['000',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '18th',
 '18thcenturi',
 '1920',
 '1920s',
 '1930',
 '1940',
 '1944',
 '1950',
 '1950s',
 '1955',
 '1957',
 '1960',
 '1960s',
 '1965',
 '1970',
 '1976',
 '1980',
 '1980s',
 '1990',
 '1996',
 '1997',
 '1999',
 '19th',
 '19thcenturi',
 '20',
 '2000',
 '20th',
 '24',
 '25',
 '30',
 '3d',
 '40',
 '40acres',
 '50',
 '60',
 '80',
 '90',
 'abandon',
 'abc',
 'abduct',
 'abelferrara',
 'abil',
 'abl',
 'aboard',
 'abov',
 'abroad',
 'abruptli',
 'abus',
 'academ',
 'academi',
 'academy',
 'accept',
 'access',
 'accid',
 'accident',
 'acclaim',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'acid',
 'acquaint',
 'acquir',
 'act',
 'action',
 'activ',
 'activist',
 'actor',
 'actress',
 'actual',
 'ad',
 'ada',
 'adam',
 'adamsandl',
 'adapt',
 'add',
 'addict',
 'addit',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrianlyn',
 'adrienbrodi',
 'adult',
 'adultanim',
 'adulteri',
 'adulthood',
 'advanc',
 'advantag',
 'adventur',
 'adventure',
 'adventures',
 'adversari',
 'advertis',
 'advic',
 'advice',
 'affair',
 'affc',
 'affect',
 'affection',
 'afflict',
 'affluent',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'africanamerican',
 'aftercreditssting',
 'afterlif',
 'aftermath',
 'ag',
 'age',
 'agediffer',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'ago',
 'agre',
 'ahead',
 'aid',
 'aidanquinn',
 'aids',
 'ail',
 'aip',
 'air',
 'airforc',
 'airlin',
 'airplan',
 'airplanecrash',
 'airport',
 'al',
 'alabama',
 'alan',
 'alanpark',
 'alanrickman',
 'alaska',
 'albert',
 'albertbrook',
 'albertfinney',
 'alcohol',
 'alcorfilm',
 'alecbaldwin',
 'alex',
 'alfr',
 'alfredhitchcock',
 'alfredmolina',
 'alic',
 'alice',
 'aliciasilverston',
 'alien',
 'alieninvas',
 'alienlife',
 'aliens',
 'aliv',
 'alive',
 'allegori',
 'allen',
 'alli',
 'allow',
 'alon',
 'alongsid',
 'alpacino',
 'alphavillefilm',
 'alreadi',
 'altavistaproduct',
 'alter',
 'altern',
 'alway',
 'amanda',
 'amateur',
 'amaz',
 'amazon',
 'ambassador',
 'ambit',
 'ambiti',
 'amblinentertain',
 'ambul',
 'ambush',
 'america',
 'american',
 'americanfootbal',
 'americaninternationalpictures',
 'americanzoetrop',
 'ami',
 'amid',
 'amidst',
 'amnesia',
 'amor',
 'amp',
 'amulefilmwork',
 'amus',
 'amusementpark',
 'amy',
 'amyirv',
 'ananka',
 'anarchiccomedi',
 'ancient',
 'anderson',
 'andi',
 'andiemacdowel',
 'andrea',
 'andrew',
 'andrewdavi',
 'andrewmccarthi',
 'android',
 'andy',
 'andygarcía',
 'angel',
 'angela',
 'angelabassett',
 'angeles',
 'angelinajoli',
 'angelo',
 'angels',
 'anger',
 'angri',
 'ani',
 'anim',
 'animalhorror',
 'anjelicahuston',
 'ann',
 'anna',
 'annabellasciorra',
 'anne',
 'annebancroft',
 'annehech',
 'annetteben',
 'anni',
 'announc',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'ant',
 'antholog',
 'anthoni',
 'anthonyhopkin',
 'anthonylapaglia',
 'anthonyquinn',
 'anthropologist',
 'anti',
 'antihero',
 'antiqu',
 'antisemit',
 'anton',
 'antoniobandera',
 'anyon',
 'anyth',
 'apach',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apocalyps',
 'apocalypt',
 'apollo',
 'appar',
 'appeal',
 'appear',
 'appearance',
 'appl',
 'apple',
 'appoint',
 'approach',
 'approv',
 'april',
 'arab',
 'archaeologist',
 'archeolog',
 'archi',
 'architect',
 'archiv',
 'area',
 'aren',
 'argentina',
 'aris',
 'aristocrat',
 'arizona',
 'arkansa',
 'arm',
 'armi',
 'armsdeal',
 'armstrong',
 'army',
 'arnold',
 'arnoldschwarzenegg',
 'arrang',
 'arrest',
 'arriv',
 'arrog',
 'art',
 'arthur',
 'artificialintellig',
 'artisanentertain',
 'artist',
 'artscouncilofengland',
 'ash',
 'ashleyjudd',
 'asian',
 'ask',
 'aspect',
 'aspir',
 'assassin',
 'assault',
 'assembl',
 'assign',
 'assist',
 'associ',
 'assum',
 'asteroid',
 'astronaut',
 'astronom',
 'asylum',
 'athlet',
 'atlant',
 'atmospher',
 'atom',
 'atomicbomb',
 'attack',
 'attempt',
 'attemptedmurd',
 'attempttoescap',
 'attend',
 'attent',
 'attention',
 'attic',
 'attitud',
 'attorney',
 'attract',
 'audienc',
 'audit',
 'audreyhepburn',
 'august',
 'aunt',
 'aurora',
 'austin',
 'australia',
 'australian',
 'australianfilmfinancecorporation',
 'austria',
 'austrian',
 'author',
 'autism',
 'auto',
 'autobiograph',
 'automobil',
 'avcoembassypictur',
 'aveng',
 'averag',
 'aviat',
 'avildsen',
 'avoid',
 'await',
 'awaken',
 'awar',
 'award',
 'away',
 'awry',
 'axel',
 'babe',
 'babi',
 'baby',
 'babysitt',
 'bacfilm',
 'bachelor',
 'backdrop',
 'background',
 'bad',
 'bag',
 'bail',
 'baker',
 'balanc',
 'ball',
 'ballet',
 'baltimor',
 'baltimorepictur',
 'band',
 'bandit',
 'bank',
 'banker',
 'bankrobb',
 'bankrobberi',
 'bar',
 'barbara',
 'barbarahershey',
 'barbarastanwyck',
 'barbetschroed',
 'barbrastreisand',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'barrylevinson',
 'barrysonnenfeld',
 'bartend',
 'base',
 'basebal',
 'basedoncom',
 'basedonnovel',
 'basedonplayormus',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basement',
 'basketbal',
 'bat',
 'batman',
 'battl',
 'battle',
 'battlefield',
 'bavariafilm',
 'bbc',
 'bbcfilm',
 'beach',
 'beaconcommun',
 'bear',
 'beast',
 'beat',
 'beaten',
 'beauti',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becam',
 'becaus',
 'becom',
 'becominganadult',
 'bed',
 'bedroom',
 'beer',
 'befor',
 'befriend',
 'began',
 'begin',
 'begins',
 'behavior',
 'belairentertain',
 'belalugosi',
 'belief',
 'believ',
 'bell',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'benefit',
 'benkingsley',
 'benni',
 'benstil',
 'bent',
 'berlin',
 'bernard',
 'besid',
 'best',
 'bestfriend',
 'bet',
 'beth',
 'betray',
 'bettedavi',
 'bettemidl',
 'better',
 'betti',
 'beverli',
 'bianca',
 'bibl',
 'big',
 'bigger',
 'biggest',
 'bike',
 'biker',
 'bikini',
 'billi',
 'billmurray',
 'billpaxton',
 'billpullman',
 'billy',
 'billybobthornton',
 'billycryst',
 'billywild',
 'billyzan',
 'biograph',
 'biographi',
 'biolog',
 'biopic',
 'bip',
 'bird',
 'birth',
 'birthday',
 'bisexu',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bittersweet',
 'bizarr',
 'black',
 'blackandwhit',
 'blackmail',
 'blackpeopl',
 'blade',
 'blake',
 'blakeedward',
 'blame',
 'blast',
 'blaxploit',
 'blend',
 'blind',
 'blob',
 'block',
 'blond',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'blossom',
 'blow',
 'blue',
 'bmovi',
 'board',
 'boardingschool',
 'boat',
 'bob',
 'bobbi',
 'bobby',
 'bobhoskin',
 'bodi',
 'body',
 'bodyguard',
 'bomb',
 'bomber',
 'bond',
 'bone',
 'book',
 'books',
 'boost',
 'border',
 'bore',
 'boredom',
 'boriskarloff',
 'born',
 'borrow',
 'boss',
 'boston',
 'botch',
 'bound',
 'bounti',
 'bountyhunt',
 'bowden',
 'bowl',
 'box',
 'boxer',
 'boxingmatch',
 'boy',
 'boyfriend',
 'boys',
 'brad',
 'bradpitt',
 'brain',
 'brainwash',
 'brash',
 'brave',
 'braveri',
 'brawl',
 'brazil',
 'break',
 'breakdown',
 'breath',
 'breed',
 'brenda',
 'brendanfras',
 'brewster',
 'brian',
 'briandennehi',
 'briandepalma',
 'bride',
 'bridg',
 'bridgetfonda',
 'brief',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'britain',
 'british',
 'britishbroadcastingcorporation',
 'britishinternationalpictures',
 'britishscreenproduct',
 'britishsecretservic',
 'broadcast',
 'broadway',
 'broken',
 'broker',
 'bronx',
 'brooklyn',
 'brooksfilm',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'bruceberesford',
 'brucewilli',
 'bruno',
 'brutal',
 'bu',
 'bubbl',
 'buck',
 'bud',
 'buddi',
 'buddy',
 'budget',
 'build',
 'building',
 'built',
 'bull',
 'bulli',
 'bum',
 'bumbl',
 'bunch',
 'burglar',
 'burglari',
 'buri',
 'buriedal',
 'burn',
 'burtlancast',
 'burton',
 'burtreynold',
 'burtyoung',
 'busi',
 'business',
 'businessman',
 'bust',
 'buster',
 'busterkeaton',
 'butcher',
 'butler',
 'buy',
 'buzz',
 'cab',
 'cabaret',
 'cabin',
 'cafe',
 'cage',
 'california',
 'callahan',
 'calm',
 'calvin',
 'came',
 'camelot',
 'cameo',
 'camera',
 'cameron',
 'camerondiaz',
 'camp',
 'campaign',
 'campbell',
 'campu',
 'campus',
 'canada',
 'canadian',
 'canal',
 'canalplu',
 'cancer',
 'candid',
 'cane',
 'cannib',
 'cannonfilm',
 'cannongroup',
 'canuxploit',
 'capabl',
 'capit',
 'capitolfilm',
 'capt',
 'captain',
 'captiv',
 'captur',
 'car',
 'caraccid',
 'caravanpictur',
 'carchas',
 'carcrash',
 'card',
 'care',
 'career',
 'carefre',
 'caretak',
 'caribbean',
 'carl',
 'carlo',
 'carmen',
 'carniv',
 'carol',
 'carolcopictur',
 'carpent',
 'carrac',
 'carri',
 'carriefish',
 'carter',
 'cartoon',
 'caryelw',
 'carygr',
 'case',
 'casey',
 'cash',
 'casino',
 'cast',
 'castl',
 'castle',
 'castlerockentertain',
 'cat',
 'cataclysm',
 'catastroph',
 'catch',
 'cateblanchett',
 'catherin',
 'catherine',
 'catherinedeneuv',
 'catherinemccormack',
 'cathol',
 'cattl',
 'caught',
 'caus',
 'cave',
 'celebr',
 'cell',
 'cemeteri',
 'cenobit',
 'center',
 'central',
 'centrenationaldelacinématographie',
 'centuri',
 'century',
 'certain',
 'chagrin',
 'chain',
 'chainsaw',
 'challeng',
 'champ',
 'champion',
 'championship',
 'chanc',
 'chance',
 'chang',
 'change',
 'channelfourfilm',
 'chao',
 'charact',
 'character',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charlesbronson',
 'charleschaplinproduct',
 'charlesdurn',
 'charley',
 'charli',
 'charlie',
 'charliechaplin',
 'charliesheen',
 'charlizetheron',
 'charlott',
 'charltonheston',
 'charm',
 'chase',
 'chauffeur',
 'chazzpalminteri',
 'cheat',
 'check',
 'cheech',
 'cheechmarin',
 'cheer',
 'cheerlead',
 'chef',
 'chemic',
 'cher',
 'chess',
 'chevychas',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhood',
 'childhoodmemori',
 'childprodigi',
 'children',
 'chill',
 'chimpanze',
 'china',
 'chinatown',
 'chines',
 'chip',
 'chocol',
 'choic',
 'choice',
 'choos',
 'chosen',
 'chri',
 'chris',
 'chriscolumbu',
 'chriso',
 'christ',
 'christian',
 'christianbal',
 'christianslat',
 'christinaricci',
 'christma',
 'christmas',
 'christmasparti',
 'christmastre',
 'christoph',
 'christopherlambert',
 'christopherle',
 'christopherlloyd',
 'christophermcdonald',
 'christopherplumm',
 'christopherreev',
 'christopherwalken',
 'chronicl',
 'chuck',
 'chucknorri',
 'church',
 'cia',
 'ciby2000',
 'cigarettesmok',
 'cinderella',
 'cinema',
 'cineplex',
 'cinergipicturesentertain',
 'circl',
 'circu',
 'circumst',
 'circumstances',
 'circus',
 'citi',
 'citizen',
 'city',
 'civil',
 'civilian',
 'civilwar',
 'clad',
 'claim',
 'clair',
 'clan',
 'clark',
 'clash',
 'class',
 'classdiffer',
 'classic',
 'classichorror',
 'classicnoir',
 'classmat',
 'classroom',
 'clauderain',
 'claudevandamm',
 'clay',
 'clean',
 'clear',
 'clerk',
 'clever',
 'client',
 'clients',
 'climax',
 'climb',
 'clinteastwood',
 'cliqu',
 'clock',
 'clone',
 'close',
 'closer',
 'closet',
 'clown',
 'club',
 'clue',
 'clueless',
 'clutch',
 'clyde',
 'cnc',
 'coach',
 'coal',
 'coast',
 'coastal',
 'cocain',
 'cocki',
 'code',
 'coffin',
 'coin',
 'col',
 'cold',
 'coldwar',
 'cole',
 'colleagu',
 'colleague',
 'collect',
 'collector',
 'colleg',
 'college',
 'collid',
 'collis',
 'colonel',
 'coloni',
 'color',
 'colorado',
 'colour',
 'columbiapictur',
 'columbiapicturescorpor',
 'com',
 'coma',
 'combat',
 'combin',
 'come',
 'comed',
 'comedi',
 'comedian',
 'comedy',
 'comet',
 'comfort',
 'comic',
 'coming',
 'comingofag',
 'comingout',
 'command',
 'commando',
 'commerci',
 'commiss',
 'commit',
 'common',
 'commun',
 'communist',
 'community',
 'compani',
 'companion',
 'company',
 'compet',
 'competit',
 'competition',
 'complet',
 'complex',
 'complic',
 'compos',
 'comput',
 'computer',
 'comrad',
 'conan',
 'concentr',
 'concentrationcamp',
 'concern',
 'concert',
 'condit',
 'conduct',
 'conductor',
 'confess',
 'confid',
 'confin',
 'conflict',
 'confront',
 'confus',
 'conman',
 'connect',
 'connor',
 'consequ',
 'consequences',
 'conserv',
 'consid',
 'conspir',
 'conspiraci',
 'constant',
 'constantli',
 'construct',
 'consum',
 'contact',
 'contain',
 'contempl',
 'contemporari',
 'contend',
 'contest',
 ...]

In [72]:
vectors.shape

(4763, 5000)

In such high dimensional data, Euclidean distance fails and it is not a good measure to calculate the closest distance, instead we use a more reliable measure called cosine distance which is prsent in scikit learn.

In [73]:
from sklearn.metrics.pairwise import cosine_similarity

In [74]:
#type(vectors)
#vaex_vectors = vaex.from_arrays()
#vaex_vectors

In [75]:
similarity = cosine_similarity(vectors)

In [76]:
# it gives similarity of index 1 movie with all others. We see that at second position value is 1 because similarity with itself
similarity[1]

array([0.05416186, 1.        , 0.06271815, ..., 0.01580349, 0.        ,
       0.02001602])

For getting top 10 closest movies to any given movie we have to sort the above obtained similarity array, but in this way we also loose the index positions of corresponding movies. So, we use enumerate to preserve this index position of sorted array.

In [77]:
# we get the index positon and corresponding values
# now we want to sort but not on the basis of index positon but on the similarity metric, for this we use key=lambda x:x[1]
similarity_tuple = sorted(list(enumerate(similarity[1])), reverse=True, key=lambda x:x[1])
similarity_tuple

[(1, 1.0000000000000004),
 (3688, 0.2377286555250982),
 (56, 0.22188007849009167),
 (2362, 0.18681617943926834),
 (1387, 0.17755520605710873),
 (557, 0.17650452162436564),
 (1873, 0.17118419700436519),
 (521, 0.16647802295407294),
 (3205, 0.16531163063339516),
 (4675, 0.1640825308284734),
 (8, 0.16343011261515336),
 (2906, 0.16182267881254697),
 (1833, 0.15907119074394444),
 (2093, 0.15848577035006547),
 (4741, 0.15724272550828775),
 (4338, 0.15480470613460084),
 (1426, 0.15348515337873014),
 (4619, 0.14824986333222026),
 (3985, 0.147087101353638),
 (1830, 0.1444316289348238),
 (4275, 0.1441153384245784),
 (4656, 0.1415948439609786),
 (2887, 0.14153462926807447),
 (619, 0.1386750490563073),
 (1946, 0.1386750490563073),
 (3773, 0.13867504905630726),
 (2174, 0.13728129459672883),
 (1207, 0.13678822577626598),
 (203, 0.13678822577626595),
 (3795, 0.13617619485048055),
 (1847, 0.1333393806079054),
 (1920, 0.1315587028960544),
 (3122, 0.1307440900921227),
 (2513, 0.1287565506561512),
 (2816, 0.1287565506561512),
 (3978, 0.1287565506561512),
 (2845, 0.12725695259515554),
 (3458, 0.12688648033134406),
 (40, 0.12637767531797084),
 (933, 0.12543630150106364),
 (461, 0.12428864423997613),
 (1421, 0.12403473458920845),
 (1636, 0.12403473458920845),
 (1865, 0.12403473458920845),
 (4342, 0.12403473458920845),
 (1945, 0.12328224189336073),
 (3681, 0.12267912301642961),
 (947, 0.12257258446136501),
 (2550, 0.12257258446136501),
 (4585, 0.12257258446136501),
 (348, 0.12229989761755712),
 (1517, 0.12136700910941023),
 (4595, 0.12136700910941023),
 (116, 0.12104550653376049),
 (2423, 0.12104550653376049),
 (921, 0.12070113739631691),
 (1629, 0.12070113739631691),
 (746, 0.12009611535381537),
 (1644, 0.12009611535381537),
 (3744, 0.11962972091091584),
 (838, 0.11886432776254911),
 (2316, 0.1188643277625491),
 (2548, 0.1188643277625491),
 (1445, 0.11602387022306428),
 (4483, 0.11566298639324805),
 (228, 0.11538461538461539),
 (1756, 0.1139901881468883),
 (1878, 0.1139901881468883),
 (1925, 0.1124803176664619),
 (4435, 0.1124803176664619),
 (4391, 0.11219363880101488),
 (1124, 0.11219363880101486),
 (927, 0.1111873974991652),
 (1837, 0.1111873974991652),
 (4627, 0.11118739749916519),
 (1891, 0.11102889792108189),
 (3276, 0.11102889792108188),
 (4603, 0.1103153260152285),
 (2891, 0.10963225241337866),
 (1352, 0.10925355610938445),
 (2014, 0.10921513389750191),
 (2302, 0.10828702045605251),
 (527, 0.10699012312772824),
 (1701, 0.10699012312772824),
 (2222, 0.10699012312772824),
 (2145, 0.10653312363426523),
 (4395, 0.1057387336094534),
 (4412, 0.1057387336094534),
 (296, 0.10573873360945338),
 (1809, 0.10573873360945338),
 (904, 0.10567049305145206),
 (719, 0.10482848367219183),
 (4679, 0.10482848367219183),
 (3690, 0.10453025125088636),
 (1441, 0.10400628679223048),
 (162, 0.10300524052492095),
 (2631, 0.10300524052492095),
 (2074, 0.10223260251369133),
 (251, 0.10127393670836667),
 (977, 0.10127393670836667),
 (3640, 0.10120511309409205),
 (863, 0.10113917425784186),
 (948, 0.10113917425784186),
 (932, 0.10090091909944687),
 (3820, 0.10090091909944687),
 (2180, 0.10016708449412667),
 (3629, 0.09962709627734359),
 (4033, 0.09962709627734359),
 (1919, 0.09874620280149499),
 (1336, 0.09805806756909202),
 (2313, 0.09805806756909202),
 (2366, 0.09805806756909201),
 (2854, 0.09805806756909201),
 (3414, 0.09805806756909201),
 (4013, 0.09805806756909201),
 (4120, 0.09805806756909201),
 (2617, 0.09738412097417934),
 (4678, 0.09738412097417934),
 (944, 0.09709195467257717),
 (1876, 0.09709195467257717),
 (4402, 0.09672388203287416),
 (506, 0.09672388203287414),
 (169, 0.09656090991705353),
 (1203, 0.09656090991705353),
 (243, 0.09615384615384616),
 (1079, 0.09615384615384616),
 (2919, 0.09615384615384616),
 (3915, 0.09607689228305227),
 (2385, 0.09544271444636665),
 (2813, 0.09544271444636665),
 (3133, 0.09544271444636665),
 (1728, 0.09524241471993242),
 (2204, 0.09524241471993242),
 (3259, 0.09524241471993242),
 (252, 0.09513029883089881),
 (871, 0.09513029883089881),
 (1390, 0.09513029883089881),
 (1794, 0.09513029883089881),
 (1979, 0.09513029883089881),
 (4409, 0.09513029883089881),
 (1097, 0.0947330933431342),
 (3885, 0.09435641951204965),
 (1708, 0.09376144618769908),
 (4709, 0.09376144618769908),
 (4468, 0.09349469900084573),
 (1872, 0.09302605094190634),
 (1879, 0.09302605094190634),
 (2244, 0.09302605094190634),
 (2638, 0.09302605094190634),
 (173, 0.09245003270420485),
 (985, 0.09245003270420485),
 (1851, 0.09245003270420485),
 (1924, 0.09245003270420485),
 (2001, 0.09245003270420485),
 (2148, 0.09245003270420485),
 (3013, 0.09245003270420485),
 (3488, 0.09245003270420485),
 (3944, 0.09245003270420485),
 (4462, 0.09245003270420485),
 (1433, 0.09104463009115371),
 (1669, 0.09078412990032037),
 (3943, 0.09078412990032037),
 (2407, 0.09026976808426487),
 (2547, 0.09026976808426487),
 (3080, 0.08998425413316952),
 (119, 0.0895143592549291),
 (2478, 0.0895143592549291),
 (4523, 0.08936251120792893),
 (3405, 0.08882311833686551),
 (532, 0.0888231183368655),
 (1874, 0.0888231183368655),
 (2488, 0.0888231183368655),
 (830, 0.08877760302855436),
 (414, 0.08869685939836239),
 (596, 0.08869685939836239),
 (2587, 0.08869685939836239),
 (3900, 0.08869685939836239),
 (1926, 0.08770580193070293),
 (2315, 0.08770580193070293),
 (2472, 0.08770580193070293),
 (3199, 0.08770580193070293),
 (3818, 0.08770580193070293),
 (4728, 0.08735706972682651),
 (1460, 0.0873570697268265),
 (759, 0.08674723979493604),
 (1551, 0.08674723979493604),
 (2623, 0.08674723979493604),
 (3308, 0.08674723979493604),
 (3660, 0.08674723979493604),
 (3732, 0.08674723979493604),
 (810, 0.08667190566019206),
 (938, 0.08667190566019206),
 (4292, 0.08667190566019206),
 (49, 0.086629616364842),
 (1882, 0.08600261451922268),
 (91, 0.08559209850218259),
 (111, 0.08559209850218259),
 (342, 0.08559209850218259),
 (1187, 0.08559209850218259),
 (485, 0.08492077756084469),
 (805, 0.08492077756084469),
 (1243, 0.08492077756084469),
 (1391, 0.08492077756084469),
 (3802, 0.08492077756084469),
 (3300, 0.08459098688756272),
 (3109, 0.08459098688756271),
 (3911, 0.08459098688756271),
 (4340, 0.08459098688756271),
 (2641, 0.08408409924953905),
 (2847, 0.08408409924953905),
 (587, 0.08362420100070908),
 (1189, 0.08362420100070908),
 (1971, 0.08362420100070908),
 (2190, 0.08362420100070908),
 (3429, 0.08362420100070908),
 (4398, 0.08362420100070908),
 (4644, 0.08362420100070908),
 (3675, 0.08347257041177224),
 (134, 0.08320502943378438),
 (1640, 0.08320502943378438),
 (2545, 0.08320502943378438),
 (2810, 0.08320502943378438),
 (3262, 0.08320502943378438),
 (3889, 0.08320502943378438),
 (4542, 0.0828741930164745),
 (1046, 0.08287419301647449),
 (712, 0.08268982305947231),
 (1412, 0.08268982305947231),
 (3147, 0.08268982305947231),
 (3553, 0.08268982305947231),
 (3667, 0.08268982305947231),
 (3475, 0.08178608201095307),
 (3971, 0.08178608201095307),
 (4314, 0.08178608201095307),
 (4629, 0.08178608201095307),
 (309, 0.08158924398306319),
 (679, 0.08158924398306319),
 (1709, 0.08158924398306319),
 (1839, 0.08158924398306319),
 (2228, 0.08158924398306319),
 (3798, 0.08158924398306319),
 (4193, 0.08158924398306319),
 (2698, 0.08119979429411503),
 (2255, 0.08091133940627349),
 (2054, 0.0808158687660548),
 (555, 0.08060323502739512),
 (586, 0.08060323502739512),
 (548, 0.08006407690254358),
 (680, 0.08006407690254358),
 (1092, 0.08006407690254358),
 (1205, 0.08006407690254358),
 (2409, 0.08006407690254358),
 (2473, 0.08006407690254358),
 (2565, 0.08006407690254358),
 (2795, 0.08006407690254358),
 (3231, 0.08006407690254358),
 (4414, 0.08006407690254358),
 (3267, 0.07953559537197222),
 (2782, 0.07933288280219178),
 (411, 0.07924288517503274),
 (686, 0.07924288517503274),
 (1269, 0.07924288517503274),
 (1747, 0.07924288517503274),
 (1976, 0.07901744265512675),
 (1834, 0.07862136275414387),
 (2632, 0.07862136275414387),
 (3573, 0.07862136275414387),
 (4447, 0.07862136275414387),
 (3761, 0.07862136275414386),
 (335, 0.07844645405527362),
 (2189, 0.07844645405527362),
 (3668, 0.07844645405527362),
 (4632, 0.07844645405527362),
 (767, 0.07792865001991967),
 (1877, 0.07767356373806174),
 (4624, 0.07767356373806174),
 (460, 0.07725393039369072),
 (627, 0.07725393039369072),
 (1894, 0.07725393039369072),
 (2042, 0.07725393039369072),
 (2842, 0.07725393039369072),
 (3397, 0.07725393039369072),
 (564, 0.07692307692307693),
 (900, 0.07692307692307693),
 (983, 0.07692307692307693),
 (2138, 0.07692307692307693),
 (2169, 0.07692307692307693),
 (2500, 0.07692307692307693),
 (2621, 0.07692307692307693),
 (3466, 0.07692307692307693),
 (3705, 0.07692307692307693),
 (4067, 0.07692307692307693),
 (4532, 0.07692307692307693),
 (4676, 0.07692307692307693),
 (959, 0.07619393177594594),
 (2693, 0.07619393177594594),
 (4219, 0.07619393177594594),
 (2464, 0.07610782069349789),
 (1181, 0.075955452531275),
 (1555, 0.075955452531275),
 (1580, 0.075955452531275),
 (1990, 0.075955452531275),
 (2292, 0.075955452531275),
 (3159, 0.075955452531275),
 (3503, 0.075955452531275),
 (4374, 0.075955452531275),
 (4598, 0.075955452531275),
 (1823, 0.07565344158360031),
 (659, 0.07548513560963972),
 (2708, 0.07548513560963972),
 (3859, 0.07548513560963972),
 (456, 0.07479575920067658),
 (2574, 0.07479575920067658),
 (4229, 0.07479575920067658),
 (157, 0.0747203222080077),
 (525, 0.0747203222080077),
 (2470, 0.0747203222080077),
 (4141, 0.0747203222080077),
 (4208, 0.0747203222080077),
 (64, 0.07412493166611013),
 (758, 0.07412493166611013),
 (788, 0.07412493166611013),
 (1059, 0.07412493166611013),
 (1645, 0.07412493166611013),
 (2451, 0.07412493166611013),
 (3380, 0.07412493166611013),
 (4474, 0.07412493166611013),
 (200, 0.073543550676819),
 (1363, 0.073543550676819),
 (2167, 0.073543550676819),
 (2990, 0.073543550676819),
 (4076, 0.073543550676819),
 (4545, 0.073543550676819),
 (1611, 0.07349762900473185),
 (2446, 0.07347183583706451),
 (2466, 0.07347183583706451),
 (1887, 0.07308816827558577),
 (595, 0.07296418486438958),
 (687, 0.07283570407292297),
 (3728, 0.07283570407292297),
 (1208, 0.07242068243779015),
 (1927, 0.07242068243779015),
 (2395, 0.07242068243779015),
 (3451, 0.07242068243779015),
 (4102, 0.07242068243779015),
 (4137, 0.07242068243779015),
 (4626, 0.07242068243779015),
 (695, 0.07228936649578004),
 (3131, 0.07228936649578004),
 (262, 0.0722158144674119),
 (925, 0.0722158144674119),
 (1378, 0.0722158144674119),
 (395, 0.07161148740394328),
 (903, 0.07161148740394328),
 (1844, 0.07161148740394328),
 (1858, 0.07161148740394328),
 (2321, 0.07161148740394328),
 (3023, 0.07161148740394328),
 (3356, 0.07161148740394328),
 (4055, 0.07161148740394328),
 (1525, 0.07134772412317411),
 (1673, 0.07134772412317411),
 (1822, 0.07134772412317411),
 (2219, 0.07134772412317411),
 (2462, 0.07134772412317411),
 (2643, 0.07134772412317411),
 (3190, 0.07134772412317411),
 (3770, 0.07134772412317411),
 (3822, 0.07134772412317411),
 (4178, 0.07134772412317411),
 (475, 0.0710220824228435),
 (1642, 0.0710220824228435),
 (4205, 0.0710220824228435),
 (1297, 0.0704469953676347),
 (1565, 0.0704469953676347),
 (1688, 0.0704469953676347),
 (4647, 0.0704469953676347),
 (547, 0.0703210846407743),
 (1780, 0.0703210846407743),
 (1832, 0.0703210846407743),
 (2131, 0.0703210846407743),
 (2642, 0.0703210846407743),
 (2789, 0.0703210846407743),
 (3422, 0.0703210846407743),
 (1795, 0.0698856557814612),
 (565, 0.06968683416725757),
 (467, 0.06933752452815364),
 (1052, 0.06933752452815364),
 (2150, 0.06933752452815364),
 (2353, 0.06933752452815364),
 (2471, 0.06933752452815364),
 (2890, 0.06933752452815364),
 (2905, 0.06933752452815364),
 (3499, 0.06933752452815364),
 (3526, 0.06933752452815364),
 (3727, 0.06933752452815364),
 (3771, 0.06933752452815364),
 (4116, 0.06933752452815364),
 (44, 0.06880209161537815),
 (480, 0.06880209161537815),
 (4404, 0.06880209161537815),
 (4738, 0.06865437954763623),
 (183, 0.06839411288813299),
 (1224, 0.06839411288813299),
 (1282, 0.06839411288813299),
 (1552, 0.06839411288813299),
 (1820, 0.06839411288813299),
 (2226, 0.06839411288813299),
 (3009, 0.06839411288813299),
 (3025, 0.06839411288813299),
 (3252, 0.06839411288813299),
 (160, 0.0683202929930246),
 (2438, 0.06827887419989188),
 (615, 0.06748819059987714),
 (663, 0.06748819059987714),
 (888, 0.06748819059987714),
 (1021, 0.06748819059987714),
 (1471, 0.06748819059987714),
 (2159, 0.06748819059987714),
 (3575, 0.06748819059987714),
 (3792, 0.06748819059987714),
 (4151, 0.06748819059987714),
 (170, 0.06726727939963124),
 (1838, 0.06726727939963124),
 (1902, 0.06726727939963124),
 (2532, 0.06726727939963124),
 (3110, 0.06726727939963124),
 (3331, 0.06726727939963124),
 (3447, 0.06726727939963124),
 (3950, 0.06726727939963124),
 (913, 0.06661733875264914),
 (3186, 0.06661733875264914),
 (1477, 0.06661733875264912),
 (1524, 0.06661733875264912),
 (3323, 0.06661733875264912),
 (3521, 0.06661733875264912),
 (3839, 0.06661733875264912),
 (4258, 0.06661733875264912),
 (1952, 0.06629935441317959),
 (3825, 0.06629935441317959),
 (706, 0.06583080186766332),
 (3918, 0.06583080186766332),
 (401, 0.0657793514480272),
 (931, 0.0657793514480272),
 (1122, 0.0657793514480272),
 (1609, 0.0657793514480272),
 (1843, 0.0657793514480272),
 (2033, 0.0657793514480272),
 (2374, 0.0657793514480272),
 (2376, 0.0657793514480272),
 (2603, 0.0657793514480272),
 (4419, 0.0657793514480272),
 (233, 0.06537204504606135),
 (398, 0.06537204504606135),
 (445, 0.06537204504606135),
 (859, 0.06537204504606135),
 (1939, 0.06537204504606135),
 (3055, 0.06537204504606135),
 (3068, 0.06537204504606135),
 (3948, 0.06537204504606135),
 (4082, 0.06537204504606135),
 (387, 0.0649722122736315),
 (1285, 0.0649722122736315),
 (1534, 0.0649722122736315),
 (1803, 0.0649722122736315),
 (2277, 0.0649722122736315),
 (2465, 0.0649722122736315),
 (2945, 0.0649722122736315),
 (2994, 0.0649722122736315),
 (3930, 0.0649722122736315),
 (1909, 0.06494054168326639),
 (1008, 0.06492274731611955),
 (4677, 0.06465757501398396),
 (3922, 0.0644825880219161),
 (1923, 0.06419407387663695),
 (2098, 0.06419407387663695),
 (2281, 0.06419407387663695),
 (3325, 0.06419407387663695),
 (3816, 0.06419407387663695),
 (4105, 0.06419407387663695),
 (4554, 0.06419407387663695),
 (734, 0.06405126152203484),
 (1227, 0.06405126152203484),
 (690, 0.06362847629757777),
 (1491, 0.06362847629757777),
 (1999, 0.06362847629757777),
 (3585, 0.06362847629757777),
 (3654, 0.06362847629757777),
 (124, 0.06344324016567204),
 (1466, 0.06344324016567204),
 (295, 0.06344324016567203),
 (550, 0.06344324016567203),
 (639, 0.06344324016567203),
 (1091, 0.06344324016567203),
 (1114, 0.06344324016567203),
 (1226, 0.06344324016567203),
 (1735, 0.06344324016567203),
 (2142, 0.06344324016567203),
 (2690, 0.06344324016567203),
 (2832, 0.06344324016567203),
 (2839, 0.06344324016567203),
 (2938, 0.06344324016567203),
 (3975, 0.06344324016567203),
 (4034, 0.06344324016567203),
 (1583, 0.06280742930213276),
 (4074, 0.06271815075053182),
 (2, 0.0627181507505318),
 (61, 0.0627181507505318),
 (720, 0.0627181507505318),
 (1449, 0.0627181507505318),
 (1775, 0.0627181507505318),
 (2152, 0.0627181507505318),
 (2227, 0.0627181507505318),
 (3966, 0.0627181507505318),
 (1247, 0.06240864794142967),
 (1178, 0.062017367294604234),
 (1556, 0.062017367294604234),
 (1745, 0.062017367294604234),
 (2297, 0.062017367294604234),
 (2599, 0.062017367294604234),
 (2658, 0.062017367294604234),
 (2758, 0.062017367294604234),
 (3371, 0.062017367294604234),
 (836, 0.06201736729460423),
 (940, 0.06201736729460423),
 (1620, 0.06201736729460423),
 (1871, 0.06201736729460423),
 (2040, 0.06201736729460423),
 (2210, 0.06201736729460423),
 (2709, 0.06201736729460423),
 (2783, 0.06201736729460423),
 (3004, 0.06201736729460423),
 (3157, 0.06201736729460423),
 (3301, 0.06201736729460423),
 (3890, 0.06201736729460423),
 (4126, 0.06201736729460423),
 (4331, 0.06201736729460423),
 (4543, 0.06201736729460423),
 (4685, 0.06201736729460423),
 (163, 0.06163335513613657),
 (2912, 0.06163335513613657),
 (319, 0.061339561508214804),
 (455, 0.061339561508214804),
 (649, 0.061339561508214804),
 (1576, 0.061339561508214804),
 (2852, 0.061339561508214804),
 (4294, 0.061339561508214804),
 (4355, 0.061339561508214804),
 (1452, 0.061256389183168884),
 (3261, 0.061256389183168884),
 (3648, 0.060886256554798304),
 (50, 0.060683504554705114),
 (247, 0.060683504554705114),
 (1431, 0.060683504554705114),
 (1585, 0.060683504554705114),
 (1831, 0.060683504554705114),
 (2097, 0.060683504554705114),
 (2166, 0.060683504554705114),
 (2908, 0.060683504554705114),
 (3578, 0.060683504554705114),
 (738, 0.060522753266880246),
 (923, 0.060522753266880246),
 (1649, 0.060522753266880246),
 (2644, 0.060522753266880246),
 (2892, 0.060522753266880246),
 (2995, 0.060522753266880246),
 (3130, 0.060522753266880246),
 (3340, 0.060522753266880246),
 (3408, 0.060522753266880246),
 (3561, 0.060522753266880246),
 (3946, 0.060522753266880246),
 (4420, 0.060522753266880246),
 (340, 0.060165683759618685),
 (1509, 0.060165683759618685),
 (3616, 0.060165683759618685),
 (100, 0.060048057676907685),
 (142, 0.060048057676907685),
 (297, 0.060048057676907685),
 (508, 0.060048057676907685),
 (1802, 0.060048057676907685),
 (2394, 0.060048057676907685),
 (2397, 0.060048057676907685),
 (3251, 0.060048057676907685),
 (3415, 0.060048057676907685),
 (4204, 0.060048057676907685),
 (4403, 0.060048057676907685),
 (4606, 0.060048057676907685),
 (4150, 0.05947010334500526),
 (2452, 0.059456436769311755),
 (76, 0.05943216388127455),
 (1260, 0.05943216388127455),
 (1307, 0.05943216388127455),
 (1759, 0.05943216388127455),
 (1938, 0.05943216388127455),
 (2198, 0.05943216388127455),
 (4038, 0.05943216388127455),
 (4299, 0.05943216388127455),
 (4386, 0.05943216388127455),
 (1933, 0.05923904504775181),
 (176, 0.05913123959890826),
 (880, 0.05913123959890826),
 (1464, 0.05913123959890826),
 (1554, 0.05913123959890826),
 (1602, 0.05913123959890826),
 (1824, 0.05913123959890826),
 (2866, 0.05913123959890826),
 (3081, 0.05913123959890826),
 (3269, 0.05913123959890826),
 (3381, 0.05913123959890826),
 (4032, 0.05913123959890826),
 (4107, 0.05913123959890826),
 (4143, 0.05913123959890826),
 (4436, 0.05913123959890826),
 (4729, 0.05913123959890826),
 (235, 0.05883484054145521),
 (265, 0.05883484054145521),
 (391, 0.05883484054145521),
 (781, 0.05883484054145521),
 (2205, 0.05883484054145521),
 (3282, 0.05883484054145521),
 (4365, 0.05883484054145521),
 (697, 0.05839272948338147),
 (81, 0.05825517280354631),
 (2289, 0.05825517280354631),
 (2398, 0.05825517280354631),
 (2870, 0.05825517280354631),
 (3623, 0.05825517280354631),
 (3726, 0.05825517280354631),
 (600, 0.05814838046295804),
 (307, 0.05783149319662403),
 (377, 0.05783149319662403),
 (1245, 0.05783149319662403),
 (1356, 0.05783149319662403),
 (1399, 0.05783149319662403),
 (1647, 0.05783149319662403),
 (1693, 0.05783149319662403),
 (1908, 0.05783149319662403),
 (2403, 0.05783149319662403),
 (2722, 0.05783149319662403),
 (3652, 0.05783149319662403),
 (3860, 0.05783149319662403),
 (4231, 0.05783149319662403),
 (4235, 0.05783149319662403),
 (4452, 0.05783149319662403),
 (46, 0.057692307692307696),
 (499, 0.057692307692307696),
 (1758, 0.057692307692307696),
 (1954, 0.057692307692307696),
 (2294, 0.057692307692307696),
 (2557, 0.057692307692307696),
 (2976, 0.057692307692307696),
 (4464, 0.057692307692307696),
 (88, 0.057145448831959454),
 (576, 0.057145448831959454),
 (710, 0.057145448831959454),
 (946, 0.057145448831959454),
 (1242, 0.057145448831959454),
 (1365, 0.057145448831959454),
 (1875, 0.057145448831959454),
 (3119, 0.057145448831959454),
 (3510, 0.057145448831959454),
 (4383, 0.057145448831959454),
 (3394, 0.056803513383235395),
 (70, 0.056613851707229795),
 (72, 0.056613851707229795),
 (1221, 0.056613851707229795),
 (1249, 0.056613851707229795),
 (1579, 0.056613851707229795),
 (1635, 0.056613851707229795),
 (1719, 0.056613851707229795),
 (1854, 0.056613851707229795),
 (1941, 0.056613851707229795),
 (1957, 0.056613851707229795),

In [78]:
similarity_tuple[1:6]

[(3688, 0.2377286555250982),
 (56, 0.22188007849009167),
 (2362, 0.18681617943926834),
 (1387, 0.17755520605710873),
 (557, 0.17650452162436564)]

In [79]:
final_df.iloc[4453].title

'The Little Foxes'

In [80]:
# getting the index position of the movie
final_df[final_df['title'] == 'Jumanji'].index[0]

1

In [81]:
final_df[final_df['title'] == "Harry Potter and the Philosopher's Stone"]

,id,title,poster_path,tags
4542,671,Harry Potter and the Philosopher's Stone,/dCtFvscYcXQKTNvyyaQr2g2UacJ.jpg,adventur fantasi famili harri potter ha live u...

In [92]:
final_df[final_df['title'] == "Richard Pryor: Here and Now"]

,id,title,poster_path,tags
4733,21921,Richard Pryor: Here and Now,/7tBphDdBr6Ws5pmCmPllW3m03Z1.jpg,"comedi part live stand-up performance, part do..."

In [96]:
# this doesn't have poster_path at tmdb api
final_df[final_df['title'] == "All Access: Front Row. Backstage. Live!"]

,id,title,poster_path,tags
4116,103489,All Access: Front Row. Backstage. Live!,/eRnLo1ACCrFq4P6xjPTp5IZpf8F.jpg,front row. backstage. live! imax film.

In [82]:
final_df.tail()

,id,title,poster_path,tags
4758,43715,The Deadly Mantis,/k7iUnaelPU5kwEEVZV7xW7fvFIS.jpg,thriller horror romanc sciencefict the calv of...
4759,10052,Dragonfly,/gs3fFBoiEaExy5x3m5yAQpmVhXs.jpg,drama a griev doctor is be contact by hi late ...
4760,11979,Queen of the Damned,/jSNMRMPkXUqcqWm0xUPUviRfWfF.jpg,drama fantasi horror lestat de lioncourt is aw...
4761,75151,Big Bad Love,/iDkgvzFjIvs7n0C4gDgAh7hnSY.jpg,drama comedi vietnam veteran leon barlow is st...
4762,35868,Green Dragon,/4qNxipsoqADZu5ZACK6uJv4qkWV.jpg,action adventur drama a tale about vietnames r...

In [83]:
final_df.shape

(4763, 4)

In [84]:
def recommend_top_movies(movie):
    movie_index = final_df[final_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_tuple = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    
    for entry in movies_tuple:
        print(final_df.iloc[entry[0]].title)

In [85]:
recommend_top_movies('Jumanji')

Dungeons & Dragons
The Indian in the Cupboard
eXistenZ
The Second Jungle Book: Mowgli & Baloo
Aladdin

In [86]:
recommend_top_movies('Toy Story')

Toy Story 2
Brighton Beach Memoirs
The Adventures of Elmo in Grouchland
Carried Away
The Million Dollar Duck

In [87]:
recommend_top_movies("Harry Potter and the Philosopher's Stone")

The Adventures of Elmo in Grouchland
Song of the South
Le colonel Chabert
Commandments
Carried Away

In [91]:
recommend_top_movies("Richard Pryor: Here and Now")

Martin Lawrence: You So Crazy
Punchline
All Access: Front Row. Backstage. Live!
The American Astronaut
The Original Kings of Comedy

### Dumping file

In [88]:
import pickle

pickle.dump(final_df.to_dict(), open('movies.pkl', 'wb'))

import bz2
import pickle
import _pickle as cPickle

def compressed_pickle(title, data):
    with bz2.BZ2File(title + '.pbz2', 'w') as f: 
        cPickle.dump(data, f)

In [89]:
#compressed_pickle('similarity_compressed', similarity)

In [90]:
pickle.dump(similarity, open('similarity_scores.pkl','wb'))